:root{
    --bg-color-nav:#585142;
    --color-nav:white
}
.pv-4{
    padding: 0 15;
}
.mv-4{
    margin: 0 15;
}

.bold{
    font-weight: 600;
    font-size: 40px;
}
.inline{
    display: inline;
}
.bgnav{
    background-color: var(--bg-color-nav);
}
nav{
    color: white;
}
.white{
    color:white;
}